<!DOCTYPE HTML>
<html>
  <head>
    <title>DHRSurvey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/homepage.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body class="page bg">
  	<header class="masthead text-white text-center">
        <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-3" src="https://i.imgur.com/zttpaZw.png"/>
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Patient Survey</h1>
                <h6 class="info"> Thank you for your preference, please let us know your stay went</h6>
        </div>
    </header>

	<form action="/new_survey/create" id="submission" method="POST" enctype="multipart/form-data">
    	<div class="card text-center">
	  		<div class="card-body">
	  			<div class="test d-flex align-items-center flex-column">
			  		<div class="form-group inputs">
				    	<input type="text" class="form-control" id="first" name="first" placeholder="First Name">
				  	</div>
				  	<div class="form-group inputs">
				    	<input type="text" class="form-control" id="last" name="last" placeholder="Last Name">
				  	</div>
				  	<div class="form-group inputs">
				    	<input type="integer" class="form-control" id="pat_phone" name="pat_phone" placeholder="Phone Number ex.(956)123-4567">
				  	</div>
		  		</div>
			</div>

			<div class="sup d-flex align-items-center flex-column" style="padding-bottom: 3.5rem;">
				<div class="sup" style="width:75%; text-align: center; padding-bottom: 3.5rem;">
					<table class="table table-striped">
					  <thead class="thead-dark">
					    <tr>
					      <th scope="col"></th>
					      <th scope="col">Bad</th>
					      <th scope="col">Neutral</th>
					      <th scope="col">Excellent</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row" style="text-align: left;">Admitting Staff Courtesy:</th>
					      <td><input type="radio" id="courtNeg" name="rating1" value="1" /></td>
					      <td><input type="radio" id="courtNeu" name="rating1" value="2" /></td>
					      <td><input type="radio" id="courtPos" name="rating1" value="3" checked/></td>
					    </tr>
					    <tr>
					      <th scope="row" style="text-align: left;">Room Cleanliness:</th>
					      <td><input type="radio" id="roomNeg" name="rating2" value="1" /></td>
					      <td><input type="radio" id="roomNeu" name="rating2" value="2" /></td>
					      <td><input type="radio" id="roomPos" name="rating2" value="3" checked/></td>
					    </tr>
					    <tr>
					      <th scope="row" style="text-align: left;">Noise Level:</th>
					      <td><input type="radio" id="noiseNeg" name="rating3" value="1" /></td>
					      <td><input type="radio" id="noiseNeu" name="rating3" value="2" /></td>
					      <td><input type="radio" id="noisePos" name="rating3" value="3" checked/></td>
					    </tr>
					    <tr>
					      <th scope="row" style="text-align: left;">Food Quality:</th>
					      <td><input type="radio" id="foodNeg" name="rating4" value="1" /></td>
					      <td><input type="radio" id="foodNeu" name="rating4" value="2" /></td>
					      <td><input type="radio" id="foodPos" name="rating4" value="3" checked/></td>
					    </tr>
					    <tr>
					      <th scope="row" style="text-align: left;">Nurse Courtesy:</th>
					      <td><input type="radio" id="friendNeg" name="rating5" value="1" /></td>
					      <td><input type="radio" id="friendNeu" name="rating5" value="2" /></td>
					      <td><input type="radio" id="friendPos" name="rating5" value="3" checked/></td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<button type="submit" class="btn btn-success btn-md" id="submit">submit</button>
			</div>
	  		<span role="alert" id="nameError" aria-hidden="true">Missing or Incorrect Field</span>
		</div>
	</form>
      <script src="/js/validate.js"></script>
  </body>

</html>